body, html{
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

html{
  height:100%;
  box-shadow: 0 0 5px solid #000;
  border:2px solid #0f65da;
  box-sizing: border-box;
  padding:10px 20px;
}

h1{
  font-weight:100;
  border-bottom:1px solid #0f65da;
  padding-left:0;
  color: #0f65da;
  margin:0;
}

#content{
  padding: 10px 0;
  font-size: 14px;
}

output{
  display: inline;
  font-size: 45px;
  font-weight: 900;
  color: #666;
  padding:0 10px;
}

aside{
  display:block;
  font-size:11px;
  color:#bbb;
}

p{
  margin: 10px 0;
}

a{
  color:#0f65da;
}

.size-min{font-size:12px;}
.size-plus{font-size:16px;}

a.bt{
  background-color:#0f65da;
  color:#fff;
  padding:5px 10px;
  display:block;
  text-align:center;
  clear:both;
  margin:10px 0;
  border-radius:5px;
  text-decoration:none;
}

a.bt:hover{
  background:#115AA8;
  transition: all 1s ease;
}